{% load static %}
<html>
<head>
<title>Secure Data Retrieval</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
 <script LANGUAGE="Javascript" >
function validate(){
	var x=document.forms["f1"]["username"].value;
	
	if(x == null || x==""){
		window.alert("Please upload file");
		document.f1.t1.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1><font color="orange" size=5>Efficient Secure Data Retrieval on Cloud using Multi-Stage
Authentication and Optimized Blowfish Algorithm</font></h1>
	  <marquee><font color="pink" size=4>Secure Data Retrieval</font></marquee>
    </div>
   
  
    </div>
  </div>
  <div id="menu">
     <ul>
	<li><a href="{% url 'UploadFile' %}">Upload File</a></li>    
	<li><a href="{% url 'DownloadFile' %}">Download File</a></li>    
      <li><a href="{% url 'index' %}">Logout</a></li>      
   </ul>
  </div>
  <div class="entry">
   <br/><br/><br/>
	<font size="" color="white"><center>{{ data }}</center></font>
	 <br>
	 <center><font size="3" color="white">Upload File Screen</font></center>
	<form name="f1" method="post" action={% url 'UploadFileAction' %} enctype="multipart/form-data" autocomplete="off" OnSubmit="return validate()">
	{% csrf_token %}
	<br><br>
	<TABLE align=center width="35%" class="notepad">
		<TR><TH align="left"><font size="" color="white">Browse&nbsp;File
		<TD>&nbsp;&nbsp;<Input type="file" name="username" value='' class="form-control">
		<div id='nameid'></div>
		</TD>
		</TR>
		<TR><TH align="left"><font size="" color="white">Encryption Type
		<TD>&nbsp;&nbsp;
			<select name="encryption_type">
				<option value="blowfish">Blowfish</option>
				<option value="aes">AES</option>
			</select>
		</TD>
		</TR>
		
		  <TR>
				 <TD></TD>
			<TD>	
		  <input type="submit" value="Upload & Encrypt File">
		 
		  </TABLE>
		
</form>
</div>

</body>
</html>